.header-container {
    background-color: tan;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, white, white);



  }