.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #FFFFFF, #F5F5F5);
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    list-style: none;
    color:rgba(0, 0, 0, 0.10);
    font-weight: bold;
    
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
  }
  
  .dropdown-menu li {
    margin: 0;
  }
  
  .dropdown-menu a {
    display: block;
    width: 100%;
    padding: 10px;
    color: #333;
    text-decoration: none;
    text-align: center;
  }
  
  .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }